@import "tailwindcss";
@plugin "daisyui";
*{
    font-family: 'Times New Roman', Times, serif;
}
.fixWids{
    width: 1400px;
    margin: 20px auto;
}
.text-gray{
    color: gray;
    font-size: 16px;
}